USE [master]
GO
/****** Object:  Database [Microservicio_Instituciones]    Script Date: 6/17/2026 8:56:50 PM ******/
CREATE DATABASE [Microservicio_Instituciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservicio_Instituciones', FILENAME = N'C:\SQLData\MSSQL16.SQLEXPRESS\MSSQL\DATA\Microservicio_Instituciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservicio_Instituciones_log', FILENAME = N'C:\SQLData\MSSQL16.SQLEXPRESS\MSSQL\DATA\Microservicio_Instituciones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservicio_Instituciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservicio_Instituciones]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/17/2026 8:56:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstitucionDominios]    Script Date: 6/17/2026 8:56:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstitucionDominios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dominio] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdInstitucion] [int] NOT NULL,
 CONSTRAINT [PK_InstitucionDominios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instituciones]    Script Date: 6/17/2026 8:56:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instituciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Instituciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260610062945_InitialCreate', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[InstitucionDominios] ON 

INSERT [dbo].[InstitucionDominios] ([Id], [Dominio], [Activo], [IdInstitucion]) VALUES (1, N'cuc.ac.cr', 0, 1)
INSERT [dbo].[InstitucionDominios] ([Id], [Dominio], [Activo], [IdInstitucion]) VALUES (2, N'cuc.cr', 0, 1)
INSERT [dbo].[InstitucionDominios] ([Id], [Dominio], [Activo], [IdInstitucion]) VALUES (3, N'itcr.ac.cr', 0, 2)
SET IDENTITY_INSERT [dbo].[InstitucionDominios] OFF
GO
SET IDENTITY_INSERT [dbo].[Instituciones] ON 

INSERT [dbo].[Instituciones] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (1, N'Colegio Universitario de Cartago', N'info@cuc.ac.cr', N'25502200', 0)
INSERT [dbo].[Instituciones] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (2, N'Instituto Tecnológico de Costa Rica', N'info@tec.ac.cr', N'25502000', 0)
INSERT [dbo].[Instituciones] ([Id], [Nombre], [Email], [Telefono], [Activo]) VALUES (3, N'Universidad de Costa Rica', N'info@ucr.ac.cr', N'25502123', 1)
SET IDENTITY_INSERT [dbo].[Instituciones] OFF
GO
/****** Object:  Index [IX_InstitucionDominios_IdInstitucion]    Script Date: 6/17/2026 8:56:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_InstitucionDominios_IdInstitucion] ON [dbo].[InstitucionDominios]
(
	[IdInstitucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InstitucionDominios]  WITH CHECK ADD  CONSTRAINT [FK_InstitucionDominios_Instituciones_IdInstitucion] FOREIGN KEY([IdInstitucion])
REFERENCES [dbo].[Instituciones] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstitucionDominios] CHECK CONSTRAINT [FK_InstitucionDominios_Instituciones_IdInstitucion]
GO
USE [master]
GO
