USE [master]
GO
/****** Object:  Database [Microservicio_Areas]    Script Date: 6/17/2026 8:59:08 PM ******/
CREATE DATABASE [Microservicio_Areas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservicio_Areas', FILENAME = N'C:\SQLData\MSSQL16.SQLEXPRESS\MSSQL\DATA\Microservicio_Areas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservicio_Areas_log', FILENAME = N'C:\SQLData\MSSQL16.SQLEXPRESS\MSSQL\DATA\Microservicio_Areas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservicio_Areas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservicio_Areas]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/17/2026 8:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreasTrabajo]    Script Date: 6/17/2026 8:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreasTrabajo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdInstitucion] [int] NOT NULL,
 CONSTRAINT [PK_AreasTrabajo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260610075128_InitialCreate', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[AreasTrabajo] ON 

INSERT [dbo].[AreasTrabajo] ([Id], [Nombre], [Activo], [IdInstitucion]) VALUES (1, N'Vicerrectoría de Investigación y Extensión', 1, 2)
INSERT [dbo].[AreasTrabajo] ([Id], [Nombre], [Activo], [IdInstitucion]) VALUES (2, N'Departamento de TI', 1, 3)
INSERT [dbo].[AreasTrabajo] ([Id], [Nombre], [Activo], [IdInstitucion]) VALUES (3, N'Recursos Humanos', 1, 4)
SET IDENTITY_INSERT [dbo].[AreasTrabajo] OFF
GO
USE [master]
GO
