USE [master]
GO
/****** Object:  Database [Microservicio_Carreras]    Script Date: 6/17/2026 8:58:23 PM ******/
CREATE DATABASE [Microservicio_Carreras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Microservicio_Carreras', FILENAME = N'C:\SQLData\MSSQL16.SQLEXPRESS\MSSQL\DATA\Microservicio_Carreras.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Microservicio_Carreras_log', FILENAME = N'C:\SQLData\MSSQL16.SQLEXPRESS\MSSQL\DATA\Microservicio_Carreras_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Microservicio_Carreras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Microservicio_Carreras]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/17/2026 8:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carreras]    Script Date: 6/17/2026 8:58:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carreras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Director] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[IdInstitucion] [int] NOT NULL,
 CONSTRAINT [PK_Carreras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260610071943_InitialCreate', N'10.0.9')
GO
SET IDENTITY_INSERT [dbo].[Carreras] ON 

INSERT [dbo].[Carreras] ([Id], [Nombre], [Director], [Email], [Telefono], [Activo], [IdInstitucion]) VALUES (1, N'Ingeniería en Computación', N'Juan Pérez Mora', N'computacion@cuc.ac.cr', N'25502210', 1, 1)
INSERT [dbo].[Carreras] ([Id], [Nombre], [Director], [Email], [Telefono], [Activo], [IdInstitucion]) VALUES (2, N'Ingeniería Mecatrónica', N'Roberto Vargas Salazar', N'mecatronica@tec.ac.cr', N'25502555', 1, 2)
INSERT [dbo].[Carreras] ([Id], [Nombre], [Director], [Email], [Telefono], [Activo], [IdInstitucion]) VALUES (3, N'Ingeniería Aeroespacial', N'Sergio Vargas Salazar', N'aeroespacial@tec.ac.cr', N'25502555', 1, 2)
SET IDENTITY_INSERT [dbo].[Carreras] OFF
GO
USE [master]
GO
